html{
    background-color: #f8f8f8;
    }
.link{
    color: black;
    font-size: 18px;
    font-style: italic;
}
.text-2{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.header{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
.text-1{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.Characteristics {
    font: 17px Colibri;
    color: black;
    border: 1px solid black;
    border-collapse:collapse;
}
.Characteristics td {
    border: 1px solid black;
    padding: 5px;
}
.Characteristics td:first-child {
    font-weight: bold;
}
.text-1:first-letter {
    font: 25px Italic;
    color: black;
    font-weight: 1000;}
.text-2:first-letter {
    font: 25px Italic;
    color: black;
    font-weight: 1000;}
.email:focus {
    background-color: black;
    color: white;
}
footer {
    background:honeydew;
    height: 70px;
    font-weight: bold;
}
.menu a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.menu a:hover {
    color: wheat;
}
.menu li {
    font: 20px italic;
    list-style-type: none;
}